<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-0">

      <div id="login-wrapper" class="bg-light shadow-lg mt-5 bg-success">
        <div class="form-wrapper">
          <div class="wrapper">
            <div class="login">
                <form (submit)="$event.preventDefault()">
                    <h2>Enter</h2>
                    <br>
                    <input type="text" name="email" id="email" class="login-email mb-2">
                    <input type="password" name="" id="" class="login-password mb-5">
                    <a href="#">Password recover</a>
                    <br>
                    <button class="btn btn-lg my-5">Enter</button>
                    <br>
                    <small>This site is protected by reCAPTCHA and Google.</small>
                    <small>
                      <a href="#">Privacy terms</a> and
                      <a href="#">Service terms</a>.
                    </small>
                </form>
            </div>
          </div>
          <div class="wrapper">
            <div class="recover">
                <form (submit)="$event.preventDefault()">
                    <h2>Forgot password</h2>
                    <br>
                    <p>
                      Type your e-mail and we'll send you an e-mail telling
                      you how to recover it.
                    </p>
                    <input type="text" name="email" id="email" class="recover-email mb-5">
                    <p>Remembered your password? <a href="#">Enter</a></p>
                    <br>
                    <button class="btn btn-lg my-5">Recover password</button>
                </form>
            </div>
          </div>
        </div>
        <div class="message-wrapper">
          <div class="wrapper">
            <div class="welcome">
              <h2>Hey, friend</h2>
              <p>Fill up your e-mail and password to enter the website.</p>
            </div>
          </div>
          <div class="wrapper">
            <div class="recover">
              <h2>Smooth,</h2>
              <p>We'll help you. Fill up required data to recover your password.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>