*{
    font-family: 'Varela Round', sans-serif !important;
    transition: .6s all ease-out;
}

html, body{
    width: 100%;
    height: 100%;
    background: #e7e9eb !important;
}

div#login-wrapper{
    position: relative;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    height: 536px;

    div.form-wrapper, div.message-wrapper{
        pointer-events: none;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        height: 100%;
        text-align: center;

        div.recover{
            opacity: 0;
        }
    }

    div.form-wrapper{
        width: 60%;
        left: 0;
        background-color: #fcfcfd;
        z-index: 1;
        color: #6e768f;

        h2{
            color: #404a6c;
            font-family: 'Roboto', sans-serif !important;
        }

        div.recover{
            pointer-events: auto;
            transform: translate(100%,0);
        }

        div.login{
            pointer-events: auto;
            transform: translate(0,0);
        }

        button.btn{
            width: 60%;
            border-radius: 50px;
            font-size: 1em;
            padding: 5%;
            text-transform: uppercase;
        }
    }

    div.message-wrapper{
        width: 40%;
        left: 60%;
        background-color: #9b5ff3;
        z-index: 5;
        color: white;

        div.recover{
            transform: translate(100%,0);
        }

        div.welcome{
            transform: translate(0,0);
        }
    }

    div.form-wrapper, div.message-wrapper{

        div.wrapper{
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            padding: 15%;

            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &.recover{
        div.form-wrapper, div.message-wrapper{
            div.recover{
                opacity: 1;
            }

            div.login, div.welcome{
                opacity: 0;
            }
        }

        div.form-wrapper{
            left: 40%;

            div.recover{
                transform: translate(0,0);
            }

            div.login{
                transform: translate(-100%,0);
            }
        }

        div.message-wrapper{
            left: 0;

            div.recover{
                transform: translate(0,0);
            }

            div.welcome{
                transform: translate(-100%,0);
            }
        }
    }
}